@using WhiskyTools.Components
@page "/"

<PageTitle>Whisky Tools</PageTitle>

<h3>Whisky Tools</h3>
<div><small class="text-muted">Optimised for the over 50s</small></div>

<div class="tabs">
    <button class='@GetTabClass("whisky")' @onclick='() => activeTab = "whisky"'>Whisky Dilution</button>
    <button class='@GetTabClass("temp")' @onclick='() => activeTab = "temp"'>Temp Conversion</button>
    <button class='@GetTabClass("target")' @onclick='() => activeTab = "target"'>Target Temps</button>
</div>

<hr />

@if (activeTab == "whisky")
{
    <WhiskyCalc />
    @* <h4>Whisky Dilution Calculator</h4>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Volume (ml):</label>
        <div class="col-sm-9 mt-2">
            <input type="number" class="form-control" @bind="volume" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Current ABV (%):</label>
        <div class="col-sm-9 mt-2">
            <input type="number" class="form-control" @bind="currentAbv" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Target ABV (%):</label>
        <div class="col-sm-9 mt-2">
            <input type="number" class="form-control" @bind="targetAbv" />
        </div>
    </div>

    <button class="btn btn-primary" @onclick="CalculateDilution">Calculate</button>

    @if (waterToAdd > 0)
    {
        <p class="mt-3">Add <b>@waterToAdd.ToString("F1") ml</b> of water.</p>

    } *@
}
else if (activeTab == "temp")
{
    <TempConvert />
@* <h4>Temperature Converter</h4>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Fahrenheit:</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" @bind="fahrenheit" step="10.0" />
        </div>
        <div class="col-sm-3 mt-2">
            <button class="btn btn-secondary w-100" @onclick="ConvertToC">To °C</button>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Celsius:</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" @bind="celsius" step="10.0" />
        </div>
        <div class="col-sm-3 mt-2">
            <button class="btn btn-secondary w-100" @onclick="ConvertToF">To °F</button>
        </div>
    </div> 

    @if (!string.IsNullOrEmpty(result))
    {
        <p class="mt-3">@result</p>
    }*@

}
else if (activeTab == "target")
{
    <CookingTemps />
}
@code {
    string activeTab = "whisky";

    @* // Defaults
    double volume = 30;
    double currentAbv = 57.2;
    double targetAbv = 42;
    double waterToAdd; *@

    @* double fahrenheit = 250;
    double celsius;
    string result; *@

    protected override void OnInitialized()
    {
        // Run initial calculations
        @* CalculateDilution(); *@
        //ConvertToC();
    }


    @* void CalculateDilution()
    {
        var finalVolume = (currentAbv * volume) / targetAbv;
        waterToAdd = finalVolume - volume;
    } *@


    @* void ConvertToC()
    {
        celsius = Math.Round((fahrenheit - 32) * 5 / 9,1);
        result = $"{fahrenheit} °F = {celsius:F1} °C";
    }

    void ConvertToF()
    {
        fahrenheit = Math.Round((celsius * 9 / 5) + 32,1);
        result = $"{celsius} °C = {fahrenheit:F1} °F";
    } *@

    string GetTabClass(string tab) => activeTab == tab ? "active-tab" : "";
}
